/*  ====================================
    Animations triggered by JQuery
    ==================================== */

html.js {

	.animation {
		transition: all 500ms $ease-out-cubic;
	}

	.animation_fade {
		opacity: 0;
		transform: translateY( 10px );
		@extend .animation;

		&.animation_fade-end {
			opacity: 1;
			transform: translateY( 0 );
		}
	}
	
	.animation_slide {
		opacity: 0;
		transform: translateX( -100% );
		@extend .animation;

		&.animation_slide-end {
			opacity: 1;
			transform: translateX( 0 );
		}
	}
}