.author {
	position: relative;
	@include cf;

	.author-avatar {
		float: left;

		img.avatar {
			display: inline-block;
			padding: $base-spacing;
			margin: 0 auto;
			background: $white;
			border: 1px solid $grey;
			border-radius: 50%;
			overflow: hidden;
			@include size( 80px );
		}
	}

	.author-info {
		float: left;
		margin-left: $gutter;
	}
}

.author-box {
	padding: $gutter 0;
	background: $white;
	border-top: 1px solid $grey;
	margin-top: $block-padding;
}