/* ====================================
   Content styling
   ==================================== */


.entry-article {

	margin-top: $block-padding;
	padding: $gutter;
	position: relative;
	background: $white;
	border-top: 1px solid $grey;
	border-bottom: 1px solid $grey;
}


.entry-header {
	position: relative;

	.entry-header-wrapper {
		position: relative;
		padding: 100px;
		z-index: 1;
		text-align: center;
		color: $white;
		text-shadow: $shadow;
	}

	.entry-header-banner {
		background: $color-sec center center no-repeat;
		background-size: cover;
		@include position( absolute, 0px null null 0px );
		@include size( 100% );
		.entry-header-banner--image {
			display: none;
		}
	}
}


.entry-content {
	margin-top: $gutter;
}


.entry-footer {

}

.entry-cover {
	background: $color-sec center center no-repeat;
	background-size: cover;
	height: 470px;

	.entry-cover-image { display: none; }
}