/* ====================================
   Header styling
   ==================================== */


header.main-header {
	@extend %clearfix;
	width: 100%;
	z-index: 5;
	margin-bottom: $block-padding;
	padding-top: $block-padding;
	padding-bottom: $block-padding;

	.wrap {
		@extend .container;
		@extend %clearfix;
		position: relative;
	}
}

.site-title {
	margin: 0;
	float: left;

	a {
		display: inline-block;
		padding: 10px 0;
	}
}


.page-title {
	@extend .container;
	background: $color-main center center no-repeat;
	background-size: cover;
	text-align: center;
	color: $white;
	text-shadow: $shadow;
	padding-top: 40px;
	@include transition;

	@include bp-medium {
		padding-top: 160px;
	}

	.page-title-container {
		@extend .container;
		padding-top: $block-padding;
		padding-bottom: $block-padding;
	}


	.page-title-cover {

	}

	.page-title-cover-image {
		display: none;
	}
}

.home-header {
	color: $white;
	text-shadow: 0 1px 1px rgba( $black, .4 );
	background: $color-sec center center no-repeat;
	background-size: cover;
	padding-top: $block-padding;
}